@model IEnumerable<Shop.Models.RealEstate.RealEstateIndexViewModel>


<div class="h1">
    Realestate
</div>

@{
    int rowNumber = 1;
}

<div>
    <a asp-action="create" asp-controller="RealEstate" class="btn btn-primary">Create</a>
</div>

<form method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">Address</th>
                <th scope="col">Size</th>
                <th scope="col">RoomCount</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var realEstate in Model)
            {
                <tr>
                    <td>@rowNumber</td>
                    <td>@realEstate.Address</td>
                    <td>@realEstate.SizeSqrM</td>
                    <td>@realEstate.RoomCount</td>
                    <td>
                        <a asp-action="details" asp-controller="RealEstate" asp-route-id="@realEstate.Id" class="btn btn-info">Details</a>
                        <a asp-action="update" asp-controller="RealEstate" asp-route-id="@realEstate.Id" class="btn btn-outline-primary">Update</a>
                        <a asp-action="delete" asp-controller="RealEstate" asp-route-id="@realEstate.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>

                rowNumber += 1;
            }

        </tbody>
    </table>
</form>